html {
    font-size: 14px; 
    font-family: 'Recursive', sans-serif;
    background-color: #0b0c10;
  }
  article {

  }
  .button {
    padding: 5px 15px;
    font-size: 14px;
    text-align: center;
    cursor: pointer;
    outline: none;
    color: rgb(65, 65, 65);
    background-color: transparent;
    border: none;
    border-radius: 15px;
    box-shadow: 0 2px #45a29e;
    transition: 100ms;
  }
  
  
  .button:hover {
      background-color: #0b0c10;
      transform: scale(1.1);
    }
  
  .button:active {
    background-color: #c5c6c7;
    box-shadow: 0 5px #66fcf1;
    transform: translateY(4px);
  }
  h1 {
    margin: 0;
    padding: 20px 50px;
    font-size: 5vw;
    text-align: center; 
    color: #66fcf1;
    text-shadow: 0.5px 0.5px 1px rgb(151, 151, 151);
  }
  
  h2 {
    margin: 0;
    padding: 20px 0;
    text-align: center; 
    color: #66fcf1;
    text-shadow:none;
  }
  h3 {
      color: #66fcf1;
      text-align: center;
  }
  h4 {
    color: #66fcf1;
    text-align: center;
}
  p {
      color: white;
      text-align: justify;
  }
  img {
    display: block;
    margin: 0 auto;
    width: auto;
    box-sizing: border-box;
  }
  
  footer {
    background-color:#5f5f5f;
      text-align:center;
      color: #66fcf1;
      padding:10px;
      margin-top:7px;
  }